body {
  font-family: sans-serif;
  background-color: lightpink;
}

.form {
  display: block;
  margin: 0 auto;
  width: max-content;
  margin-top: 10%;
  margin-left: 35%;
}

input:focus {
  border: 0;
  outline: 0;
}

input {
  color: white;
  font-style: 20px;
  padding: 7px;
  width: 200%;
  bottom: 0;
  background: #282828;
}

ul {
  width: 200%;
  margin-left: -15%;
  margin-top: 0;
  font-size: 20px;
}

ul li {
  list-style-type: none;
  padding: 10px;
  background: #ffffff;
  border-bottom: 1px solid #eeeeee;
}
